@import "smart-grid";
.reset();

.debug{
  .debug(rgba(0, 0, 0, 0.04), 1px solid #fff);
  z-index: -1;
}

*{
    text-decoration: none;
    transition: all 0.15s ease-in-out;
  }
  
  :focus {outline:none !important;}
  
  input{
    -webkit-appearance: none;
  }
  img{
      width: 100%;
  }
  a{
      color: inherit;
  }
  
  body{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #363636;
  }


  .wrapper{
    .wrapper();
  }

  .content{
    h2{
        font-weight: bold;
        font-size: 36px;
        line-height: 49px;
        text-align: center;
        color: #45852D;
        padding-top: 50px;
        
      }
    .cards{
        .row-flex();
        
    }
    .card{
        .col(); 
        .size(4); 
        .size-sm(12);
        margin-top: 36px;
        background: #F8F8F8;
        border: 1px solid #D8D8D8;
        box-sizing: border-box;
        &-img{
            padding: 0;
            margin: 0;
            position: relative;
            line-height: 0;
        }
        &-caption{
            position: absolute;
            bottom: 0px;
            right: 0;
            font-weight: bold;
            font-size: 12px;
            line-height: 16px;
            color: #FFFFFF;
            background: #006F79;
            padding: 8px;
            &__orange{
                background: #EC6608;
            }
        }
        &-text{
            margin: 20px 20px 17px 20px; 
        }
        &-title{
            font-weight: bold;
            font-size: 20px;
            line-height: 27px;
            color: #363636;
        }
        &-address{
            margin-top: 4px;
        }
        &-price{
            margin-top: 14px;
            span{
                font-weight: bold;
            }
        }
        &-available{
            margin-top: 7px;
            font-size: 14px;
            line-height: 19px;
        }
    }
    .more{
       display: flex;
       justify-content: center;
       margin-top: 50px;
       margin-bottom: 50px;
    }
    .button{
        border: 1px solid #D8D8D8;
        box-sizing: border-box;
        border-radius: 25px;
        max-width: 150px;
        max-height: 55px;
        text-align: center;
        font-weight: bold;
        line-height: 20px;
        letter-spacing: -0.3px;
        color: #363636;
        a{
            display: inline-block;
            padding: 14px 30px;
        }
        &_chevron{
            background:url(../icon/chevron.svg) no-repeat right center; 
            display:inline-block;
            vertical-align:bottom;
            width: 7px;
            height: 20px;
            padding-left: 5px;
        }
        &:hover{
            background-color: #F8F8F8;
            border: 1px solid #363636;
        }
    }


  }

  