body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

.debug {
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: -1;
}

.debug > div {
  height: inherit;
  max-width: 1180px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

.debug > div > div {
  height: inherit;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.debug > div > div > div {
  box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
  word-wrap: break-word;
  width: calc(8.333333333333334% - 30px);
  height: inherit;
  outline: 1px solid #fff;
  background: rgba(0, 0, 0, 0.04);
}

* {
  text-decoration: none;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

:focus {
  outline: none !important;
}

input {
  -webkit-appearance: none;
}

img {
  width: 100%;
}

a {
  color: inherit;
}

body {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #363636;
}

.wrapper {
  max-width: 1180px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

.content h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  color: #45852D;
  padding-top: 50px;
}

.content .cards {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.content .card {
  margin-left: 15px;
  margin-right: 15px;
  word-wrap: break-word;
  width: calc(33.333333333333336% - 30px);
  margin-top: 36px;
  background: #F8F8F8;
  border: 1px solid #D8D8D8;
  box-sizing: border-box;
}

.content .card-img {
  padding: 0;
  margin: 0;
  position: relative;
  line-height: 0;
}

.content .card-caption {
  position: absolute;
  bottom: 0px;
  right: 0;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  background: #006F79;
  padding: 8px;
}

.content .card-caption__orange {
  background: #EC6608;
}

.content .card-text {
  margin: 20px 20px 17px 20px;
}

.content .card-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  color: #363636;
}

.content .card-address {
  margin-top: 4px;
}

.content .card-price {
  margin-top: 14px;
}

.content .card-price span {
  font-weight: bold;
}

.content .card-available {
  margin-top: 7px;
  font-size: 14px;
  line-height: 19px;
}

.content .more {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.content .button {
  border: 1px solid #D8D8D8;
  box-sizing: border-box;
  border-radius: 25px;
  max-width: 150px;
  max-height: 55px;
  text-align: center;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: -0.3px;
  color: #363636;
}

.content .button a {
  display: inline-block;
  padding: 14px 30px;
}

.content .button_chevron {
  background: url(../icon/chevron.svg) no-repeat right center;
  display: inline-block;
  vertical-align: bottom;
  width: 7px;
  height: 20px;
  padding-left: 5px;
}

.content .button:hover {
  background-color: #F8F8F8;
  border: 1px solid #363636;
}

@media screen and (max-width: 1100px) {
  .debug > div {
    padding-left: 30px;
    padding-right: 30px;
  }

  .debug > div {
    padding-left: 30px;
    padding-right: 30px;
  }

  .wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 960px) {
  .debug > div {
    padding-left: 30px;
    padding-right: 30px;
  }

  .debug > div {
    padding-left: 30px;
    padding-right: 30px;
  }

  .wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 769px) {
  .debug > div {
    padding-left: 15px;
    padding-right: 15px;
  }

  .debug > div {
    padding-left: 15px;
    padding-right: 15px;
  }

  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .content .card {
    width: calc(100% - 30px);
  }
}

@media screen and (max-width: 560px) {
  .debug > div {
    padding-left: 15px;
    padding-right: 15px;
  }

  .debug > div {
    padding-left: 15px;
    padding-right: 15px;
  }

  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}